<div class="modal fade" id="cookiesModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <b>Политика в отношении файлов cookie</b><br><br>

                <b>Файлы cookie и другие технологии отслеживания</b><br>
                Мы собираем информацию об использовании вами UHR с помощью
                технологий отслеживания, таких как файлы cookie и веб-маяки.
                «Cookie» — это уникальный код, который передается на ваш компьютер для
                отслеживания ваших интересов и предпочтений и для распознавания вас как
                посетителя.<br>
                «Веб-маяк» — это прозрачное графическое изображение, размещаемое на
                веб-сайте, в электронной почте или рекламе, которое позволяет отслеживать
                такие вещи, как активность пользователя и посещаемость сайта. Эти
                технологии помогают запомнить ваши предпочтения и позволяют нам
                предоставлять вам контент и функции, которые могут представлять для вас
                наибольший интерес, на основе данных «потока кликов», которые
                показывают ваши предыдущие действия в UHR.<br>
                Вы можете отключить cookie через ваш браузер. Обратите внимание, что
                некоторые файлы cookie необходимы для функционирования нашего веб-
                сайта, и удаление или отключение их в вашем браузере приведет к снижению
                функциональности сайта.<br>
                Для отслеживания аналитики сайта мы используем Google Analytics. Данные,
                которые мы собираем с помощью этих файлов cookie, будут использованы
                для понимания использования нашего веб-сайта. Мы также можем добавить
                данные об использовании вашего веб-сайта в поддерживаемый вами профиль
                о вас.<br>
                Если вы не хотите, чтобы ваши данные использовались с Google Analytics
                для этих целей, вы можете установить надстройку для браузера Google
                Analytics по адресу https://tools.google.com/dlpage/gaoptout.
                Чтобы узнать больше о файлах cookie и других технологиях отслеживания, в
                том числе о том, как их отключить, посетите сайт
                http://www.allaboutcookies.org/ .<br><br>

                <b>Мобильное отслеживание</b><br>
                Некоторые услуги UHR доступны в виде мобильных приложений или
                мобильных сайтов, которые вы можете использовать на своем мобильном
                устройстве. Если вы используете мобильное устройство для доступа и
                использования UHR, мы можем собирать следующую мобильную
                информацию в дополнение к другой информации, описанной выше:
                идентификатор устройства или рекламы, тип устройства, тип оборудования,
                управление доступом к среде («MAC») адрес, международный
                идентификатор мобильного оборудования («IMEI»), версия вашей мобильной
                операционной системы, платформа, используемая для доступа к UHR
                (например, Apple, Google, Amazon, Windows), информация о
                местоположении и информация об использовании вашего устройства и
                использовании вами UHR.
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn-modal" data-dismiss="modal" th:text="#{label.close}">Close</button>
            </div>
        </div>
    </div>
</div>


