<div class="modal fade" id="cookiesModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <b>Cookies Policy</b><br><br>
                Cookies and other tracking technologies<br>
                We collect information about your use of UHR through tracking
                technologies such as cookies and web beacons. A “cookie” is a
                unique numeric code that is transferred to your computer to track your
                interests and preferences and to recognize you as a return visitor. A
                “Web beacon” is a transparent graphic image placed on a website,
                email or advertisement that enables the monitoring of things such as
                user activity and site traffic. These technologies help remember your
                preferences and allow us to bring you the content and features that
                are likely to be of greatest interest to you on the basis of “clickstream”
                data that shows your previous activities on UHR.  <br>
                You can disable cookies through your browser. Please note that some
                cookies are essential to the functioning of our websites and deleting or
                disabling them on your browser will reduce the site’s functionality.  
                For site analytics tracking, we use Google Analytics. The data we
                collect through these cookies will be used to understand our website
                usage. We may also add your website usage data to the profile we
                maintain about you. If you do not want your data used with Google
                Analytics for these purposes, you can install the Google Analytics opt-
                out browser add-on at  <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
                To learn more about cookies and other tracking technologies,
                including how to disable them, please
                visit  <a href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>.<br><br>
                <b>Mobile tracking</b><br>
                Some UHR Services are available either as mobile applications or
                mobile sites that you can use on your mobile device. If you use a
                mobile device to access and use the UHR, we may collect the
                following mobile-specific information in addition to the other
                information described above: device or advertising ID, device type,
                hardware type, media access control (“MAC”) address, international
                mobile equipment identity (“IMEI”), the version of your mobile
                operating system, the platform used to access UHR (e.g., Apple,
                Google, Amazon, Windows), location information and usage
                information about your device and your use of the UHR.
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


