<footer class ="footer">
    <div class="row justify-content-center">
        <ul class="ftco-footer-social list-unstyled margin-greeting">
            <li class="ftco-animate"><a href="https://twitter.com/UhrWork" target="_blank"><span
                    class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/UHR-101412644697214/?modal=admin_todo_tour" target="_blank"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate"><a href="https://www.instagram.com/uhr.work/" target="_blank"><span
                    class="icon-instagram"></span></a></li>
            <li class="ftco-animate"><a href="https://www.youtube.com/channel/UCAqNI-_SI90gFzBu2Nkyc5A?view_as=subscriber" target="_blank"><span
                    class="icon-youtube"></span></a></li>
        </ul>
    </div>
</footer>