<div class="modal fade" id="policyModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <b>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</b><br><br>
                Последнее обновление: 2020-04-02<br>
                Политика UHR заключается в уважении вашей конфиденциальности в
                отношении любой информации, которую мы можем собирать во время вашей
                работы с нашим Веб-сайтом. Настоящая Политика конфиденциальности
                применяется к www.urhumanresource.com (здесь и далее «мы», «мы» или
                «UHR»). Мы уважаем вашу конфиденциальность и обязуемся защищать
                личную информацию, которую вы можете предоставить нам через Веб-сайт.<br>
                Мы приняли эту политику конфиденциальности («Политика
                конфиденциальности»), чтобы объяснить, какую информацию можно
                собирать на нашем Веб-сайте, как мы ее используем и при каких
                обстоятельствах мы можем раскрывать эту информацию третьим сторонам.
                Настоящая Политика конфиденциальности применяется только к
                информации, которую мы собираем через Веб-сайт, и не распространяется на
                информацию из других источников.<br>
                Настоящая Политика конфиденциальности, а также Условия обслуживания,
                опубликованные на нашем Веб-сайте, устанавливают общие правила и
                политику, регулирующие использование вами нашего Веб-сайта. В
                зависимости от вашей деятельности при посещении нашего веб-сайта вам
                может потребоваться согласие с дополнительными условиями.<br><br>

                <b>Сбор информации</b><br>
                Мы собираем информацию, которую вы предоставляете нам напрямую.
                Например, мы собираем информацию, когда вы проходите наш тест,
                используете любые интерактивные функции Веб-сайта, заполняете форму
                или иным образом общаетесь с нами. Типы информации, которую мы можем
                собирать, включают ваше имя, адрес электронной почты, возраст и любую
                другую информацию, которую вы решите предоставить.<br>
                Информация о вашем использовании Веб-сайта<br>
                • Информация об использовании<br>
                Мы собираем информацию об использовании вами Веб-сайта, такую ​​как
                открытые вами электронные письма и рекламные объявления, с которыми вы
                взаимодействовали.<br>
                • Автоматически собираемая информация<br>
                Когда вы получаете доступ к нашим Сервисам или используете их, мы
                автоматически собираем информацию о вас, в том числе:<br>
                - Информация журнала: мы собираем информацию журнала об
                использовании вами Веб-сайта, включая тип используемого вами браузера,
                журналы ошибок, время доступа, просмотренные страницы, ваш IP-адрес и
                страницу, которую вы посетили до перехода к нашим Сервисам.<br>
                - Информация об устройстве: мы собираем информацию о компьютере или
                мобильном устройстве, которое вы используете для доступа к нашим
                Сервисам, включая модель оборудования, операционную систему и версию,
                уникальные идентификаторы устройства и информацию о мобильной сети.
                Использование информации<br>
                Мы используем собранную информацию для предоставления, поддержки и
                улучшения наших услуг. Кроме того, наша текущая практика заключается в
                использовании информации, которую мы собираем для того, чтобы:<br>
                - отправлять вам технические уведомления, обновления, оповещения о
                безопасности и административные сообщения, а также обеспечивать
                поддержку;<br>
                - общаться с вами о продуктах, услугах и предложениях, а также о событиях,
                предлагаемых UHR и другими, и предоставлять новости и информацию,
                которые, по нашему мнению, будут вам интересны;<br>
                - Отслеживать и анализировать тенденции, использование и действия,
                связанные с нашими Услугами;<br>
                - персонализировать и улучшать Сервисы и предоставлять рекламу, контент
                или функции, соответствующие интересам пользователей;<br>
                - Выполнять любые другие цели, описанные вам на момент сбора
                информации.<br><br>

                <b>Обмен информацией</b><br>
                Мы можем передавать информацию о вас следующим образом или иным
                образом, описанным в настоящей Политике конфиденциальности:<br>
                - Поставщикам, консультантам и другими поставщиками услуг, которым
                необходим доступ к такой информации для выполнения работы от нашего
                имени;<br>
                - В ответ на запрос информации, если мы считаем, что раскрытие
                соответствует или требуется любому применимому законодательству или
                процессуальным действиям, включая законные запросы государственных
                органов о соответствии требованиям национальной безопасности или
                правоохранительных органов;<br>
                - Если мы считаем, что ваши действия не соответствуют нашим
                пользовательским соглашениям или политике или защищают права,
                собственность и безопасность UHR или других лиц;<br>
                - В связи или во время переговоров о любом слиянии, продаже активов
                компании, финансировании или приобретении всего или части нашего
                бизнеса другой компанией;<br>
                - Между UHR и нашими нынешними и будущими филиалами, дочерними
                компаниями и другими компаниями, находящимися под общим контролем и
                владением;<br>
                - С вашего согласия или по вашему указанию.<br>
                Мы также можем делиться агрегированной или деидентифицированной
                информацией, которая не может быть разумно использована для вашей
                идентификации. Например, мы можем предоставить хешированную версию
                вашего адреса электронной почты для облегчения рекламных кампаний на
                других платформах.<br><br>

                <b>Особенности использования информации в социальных сетях</b><br>
                Сервисы могут предлагать функции социального обмена и другие
                интегрированные инструменты, такие как кнопка «Нравится» на Facebook,
                которая позволяет вам делиться действиями, которые вы совершаете с
                нашими Сервисами, и наоборот. Использование вами таких функций
                позволяет обмениваться информацией с вашими друзьями или публикой, в
                зависимости от настроек, которые вы устанавливаете для организации,
                предоставляющей функцию социального обмена. Для получения
                дополнительной информации о цели и объеме сбора и обработки данных в
                связи с функциями совместного использования в социальных сетях,
                пожалуйста, ознакомьтесь с политикой конфиденциальности организаций,
                которые предоставляют эти функции.<br>
                Рекламные и аналитические услуги, предоставляемые другими
                Мы можем разрешить другим предоставлять аналитические услуги и
                размещать рекламу от нашего имени в Интернете и в приложениях. Эти
                организации могут использовать файлы cookie, веб-маяки, идентификаторы
                устройств и другие технологии для сбора информации об использовании
                вами Веб-сайта, других веб-сайтов и приложений, включая ваш IP-адрес, веб-
                браузер, просмотренные страницы, время, проведенное на страницах,
                ссылки, по которым вы переходили, и конверсию. UHR и другие могут
                использовать эту информацию для анализа и отслеживания данных,
                определения популярности определенного контента, предоставления
                рекламы и контента, ориентированного на ваши интересы в наших Сервисах
                и на других веб-сайтах, а также для лучшего понимания вашей онлайн-
                активности.<br><br>

                <b>Хранение данных</b><br>
                Мы храним информацию, которую мы собираем о вас, столько времени,
                сколько это необходимо для целей, для которых мы ее первоначально
                собирали. Мы можем хранить определенную информацию в законных
                деловых целях или в соответствии с требованиями законодательства.<br><br>

                <b>Связаться с нами</b><br>
                Если у вас есть какие-либо вопросы об этой Политике конфиденциальности,
                пожалуйста, свяжитесь с нами по E-mail infourhr@gmail.com.
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn-modal" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


