
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head.html :: head"> </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style type="text/css">
    body {
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(images/8.jpg);
        background-color:rgba(0,0,0,.01);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<nav th:insert="fragments/navbar.html :: nav"></nav>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <p th:utext="#{p-about-desc-title}"></p>
                <p class="p-about-desc" th:utext="#{p-about-desc}"></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <!--<div class=" ftco-animate">-->
                <!--<div class="about-peoples">-->
                    <!--<div class="img mb-4" style="background-image: url(images/gel.png);"></div>-->
                    <!--<div class="info text-center">-->
                        <!--<p class="p-name"><a href="#">Aslan Gedgafov</a></p>-->
                        <!--<div class="text">-->
                            <!--<ul class="p-about">-->
                                <!--<li>Gathers people in a team.</li>-->
                                <!--<li>Hobbies: music, puzzles.</li>-->
                                <!--<li>Education: an engineer.</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class=" ftco-animate">
                <div class="about-peoples">
                    <div class="img mb-4" style="background-image: url(images/kor.png);"></div>
                    <div class="info text-center" th:utext="#{about_kristina}">
                    </div>
                </div>
            </div>
            <div class=" ftco-animate">
                <div class="about-peoples">
                    <div class="img mb-4" style="background-image: url(images/boy.png);"></div>
                    <div class="info text-center" th:utext="#{about_alexey}">
                    </div>
                </div>
            </div>
            <div class=" ftco-animate">
                <div class="about-peoples">
                    <div class="img mb-4" style="background-image: url(images/bez.png);"></div>
                    <div class="info text-center" th:utext="#{about_evgeny}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:insert="fragments/footer.html :: footer"> </footer>

<div th:insert="fragments/subfooter.html"></div>

</body>
</html>