<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head.html :: head"></head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<style type="text/css">
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/17.jpg);
        background-color: rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<nav th:insert="fragments/navbar.html :: nav"></nav>

<section class=" ftco-section">
    <!--<div class="overlay"></div>-->
    <div class="container">

        <div class="row justify-content-start text-contact">
            <p class="text-contacts" th:utext="#{text_contacts}">
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class=" contacts justify-content-center">

                <div class="my-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31347.99000272982!2d-73.97443587161057!3d40.771355578330535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1584291184917!5m2!1sru!2sru"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <p id="contact_us" th:utext="#{contact_us}"></p>
        <form onsubmit="return false" class="appointment-form" th:object="${rewiev}">

            <div class="d-md-flex">
                <div class="form-group">
                    <input type="text" required class="form-control" th:attr="placeholder=#{contacts.name}"  id="contacts_name">
                </div>
            </div>

            <div class="d-md-flex">
                <div class="form-group">
                    <input type="text" required class="form-control" th:attr="placeholder=#{contacts.email}" id="contacts_email">
                </div>
            </div>

            <div class="d-md-flex">
                <select class="form-control" required id="contacts_rate">
                    <option  th:text="#{contact-us.rate}" value="1">Rate our service</option>
                    <option  th:text="#{contact-us.excellent}" value="2">Excellent!</option>
                    <option  th:text="#{contact-us.good}" value="3">Good</option>
                    <option  th:text="#{contact-us.cando}" value="4">Can do better</option>
                </select>
            </div>

            <div class="d-me-flex">
                <div class="form-group">
                    <input required type="text" class="form-control" th:attr="placeholder=#{contacts.whatlike}"  id="contacts_desc">
                </div>
            </div>
<!--            служебный-->
                    <input type="reset" id="contacts_reset">
            <div class="submit">
                <input type="submit" th:attr="placeholder=#{contacts.send}" class="btn btn-primary btn-contacts" onclick="postDataContacts()">
            </div>
        </form>
    </div>

</section>

<footer th:insert="fragments/footer.html :: footer"></footer>

<div th:insert="fragments/subfooter.html"></div>

</body>
</html>