<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head.html :: head"> </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style type="text/css">
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/17.jpg);
        background-color: rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"> <img src="/images/UHR white 1.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/images/Menu.png" class="logo">
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/our_services" class="nav-link">Our services</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item active"><a href="/contacts" class="nav-link">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->


<section class=" ftco-section">
    <!--<div class="overlay"></div>-->
    <div class="container">

        <div class="row justify-content-start text-contact">
            <p class="text-contacts">
                <!--2009 58th street, Brooklyn, NY.<br>-->
                Contact us in social media, or text us at<br>
                info@urhumanresource.com
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class=" contacts justify-content-center">

                <div class="my-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31347.99000272982!2d-73.97443587161057!3d40.771355578330535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1584291184917!5m2!1sru!2sru"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
                <div class=" contacts justify-content-center">
                    <p>Contact Us</p>
                    <form action="/contacts" method="POST" class="appointment-form" th:object="${rewiev}">

                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" required class="form-control" placeholder="Name" th:field="*{name}">
                            </div>
                        </div>

                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" required class="form-control" placeholder="Email"
                                       th:field="*{email}">
                            </div>
                        </div>

                        <div class="d-md-flex">
                            <!--<div class="form-group">-->
                            <!--<label for="selectRate"></label>-->
                            <!--</div>-->
                            <select class="form-control" required th:field="*{recommended}" id="selectRate">
                                <option value="Default1">Rate our service</option>
                                <option value="Default1">Excellent!</option>
                                <option value="Default2">Good</option>
                                <option value="Default3">Can do better</option>
                            </select>
                        </div>

                        <div class="d-me-flex">
                            <div class="form-group">
                                <input required type="text" class="form-control" placeholder="What do you like?"
                                       th:field="*{whatDoYouLike}">
                            </div>
                        </div>

                        <div class="submit">
                            <input type="submit" value="Send" class="btn btn-primary btn-contacts">
                        </div>

                    </form>
                </div>
            </div>

</section>

<footer th:insert="fragments/footer.html :: footer"> </footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</body>
</html>