<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:insert="fragments/head.html :: head"> </head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<style type="text/css">
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/20.jpg);
        background-color:rgba(0,0,0,0.3);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

    }
</style>

<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
    <!--<div class="container">-->
    <a class="navbar-brand" href="/"> <img src="/images/UHR white 1.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="oi oi-menu"></span>-->
        <img src="/images/Menu.png" class="logo">
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/our_services" class="nav-link">Our services</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/contacts" class="nav-link">Contact us</a></li>
        </ul>
    </div>
    </div>
</nav>
<!-- END nav -->
<main>
    <section class="ftco-section">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <p class="text-greeting">We have created a test that will help you choose a profession,
                        will tell about a predisposition to activities. In the future,
                        based on our test, we can help you get the best job. <br>
                        The test is absolutely free.</p>

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <p></p>
                <p><a href="/test" class="btn btn-primary p-3 main-btn ">Take the test</a></p>
            </div>
        </div>
    </section>


</main>

<footer class="footer">
    <div class="row justify-content-center">
        <ul class="ftco-footer-social list-unstyled margin-greeting">
            <li class="ftco-animate"><a href="https://twitter.com/UhrWork" target="_blank"><span
                    class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/UHR-101412644697214/?modal=admin_todo_tour" target="_blank"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate"><a href="https://www.instagram.com/uhr.work/" target="_blank"><span
                    class="icon-instagram"></span></a></li>
            <li class="ftco-animate"><a href="https://www.youtube.com/channel/UCAqNI-_SI90gFzBu2Nkyc5A?view_as=subscriber" target="_blank"><span
                    class="icon-youtube"></span></a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12 text-center beta">
            <p class="version">2019 - 2020, beta v2</p>
        </div>
    </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/jquery.easing.1.3.js"></script>-->
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<!--<script src="js/jquery.magnific-popup.min.js"></script>-->
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<!--<script src="js/bootstrap-datepicker.js"></script>-->
<!--<script src="js/jquery.timepicker.min.js"></script>-->
<script src="js/scrollax.min.js"></script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>-->
<!--<script src="js/google-map.js"></script>-->
<script src="js/main.js"></script>

</body>
</html>