<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head.html :: head"> </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style type="text/css">
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/13.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<nav th:insert="fragments/navbar.html :: nav"></nav>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 heading-section ftco-animate ">
                <p th:utext="#{our-services-temp}"></p>
                <span th:utext="#{number-of-applicants}"></span>
                <span th:text="${count}"></span>
            </div>
        </div>
    </div>

            <div class="container">
                <div class="row justify-content-center ">

                    <div class="col-md-5 contacts justify-content-center">

                        <form class="appointment-form" method="post" th:action="@{/our_services}" th:object="${serviceTemporal}">

                            <div class="row justify-content-center test-form">

                                <div class="d-md-flex">
                                    <div class="form-group">
                                        <input type="text" required  class="form-control" placeholder="Name" th:attr="placeholder=#{contacts.name}">
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="form-group">
                                        <input type="email" required  class="form-control" placeholder="Email" th:attr="placeholder=#{label.email}">
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="form-group">
                                        <input type="text" required  class="form-control" placeholder="Additional question" th:attr="placeholder=#{services.whatlike}">
                                    </div>
                                </div>
                            </div>

                            <div class="submit">
                                <input type="submit" th:attr="placeholder=#{contacts.send}" class="btn btn-primary btn-contacts">
                            </div>

                        </form>
                    </div>
                </div>
            </div>

    </div>
</section>

<footer th:insert="fragments/footer.html :: footer"> </footer>

<div th:insert="fragments/subfooter.html"></div>

</body>
</html>