<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments/head.html :: head"> </head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<style type="text/css">
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/13.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"> <img src="/images/UHR white 1.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/images/Menu.png" class="logo">
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/our_services" class="nav-link">Our services</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
                <li class="nav-item"><a href="/contacts" class="nav-link">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <p>We select the best employees for our customers.
                    Our algorithm allows you to recruit purposeful and productive employees.</p>
            </div>
        </div>


        <div class="row justify-content-center">

            <!--первый-->
            <div class=" ftco-animate justify-content-center ">
                <div class="staff">

                    <h3><a href="#">Test (Assistant)</a></h3>
                    <h4 class="h4-staff">FREE</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>You can try our product absolutely free</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary " value="Start trial">

                </div>

            </div>
            <!--второй-->
            <div class=" ftco-animate justify-content-center align">
                <div class="staff">
                    <h3><a href="#">Assistant</a></h3>
                    <h4 class="h4-staff">$ 39</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>Candidate recruiting for 1 position</li>
                            <li>Search results every week</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary  " value="Select">
                </div>
            </div>
            <!--третий-->
            <div class=" ftco-animate justify-content-center">
                <div class="staff">
                    <h3><a href="#">First Team</a></h3>
                    <h4 class="h4-staff">$ 99</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>Search results every week</li>
                            <li>Candidate filtering</li>
                            <li>Ability to use test results</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary  " value="Select">
                </div>
            </div>
            <!--четвертый-->
            <div class=" ftco-animate justify-content-center">
                <div class="staff">

                    <h3><a href="#">The Best Team</a></h3>
                    <h4 class="h4-staff">$ 199</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>Search results every 3 days</li>
                            <li>Candidate filtering</li>
                            <li>Ability to use test results</li>
                            <li>Assistance in selecting candidates</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary  " value="Select">

                </div>
            </div>
            <!--пятый-->
            <div class=" ftco-animate justify-content-center">
                <div class="staff">

                    <h3><a href="#">Businessman</a></h3>
                    <h4 class="h4-staff">$ 279</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>Search results every 3 days</li>
                            <li>Candidate filtering</li>
                            <li>Ability to use test results</li>
                            <li>Assistance in selecting candidates</li>
                            <li>Selection of an employee for selected qualities</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary  " value="Select">
                </div>
            </div>
            <!--шестой-->
            <div class=" ftco-animate justify-content-center">
                <div class="staff">
                    <h3><a href="#">Unlimited</a></h3>
                    <h4 class="h4-staff">$ 599</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>Search results every 3 days</li>
                            <li>Candidate filtering</li>
                            <li>Unlimited number of posts</li>
                            <li>Ability to use test results</li>
                            <li>Assistance in selecting candidates</li>
                            <li>Selection of an employee for selected qualities</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary " value="Select">
                </div>
            </div>

            <div class=" ftco-animate justify-content-center">
                <div class="staff">
                    <h3><a href="#">Individual Services</a></h3>
                    <h4 class="h4-staff">$ 499</h4>
                    <div class="text">
                        <ul class="p-our-services">
                            <li>Search results every 3 days</li>
                            <li>Candidate filtering</li>
                            <li>Unlimited number of posts</li>
                            <li>Ability to use test results</li>
                            <li>Assistance in selecting candidates</li>
                            <li>Selection of an employee for selected qualities</li>
                        </ul>
                    </div>
                    <input type="submit" class="btn btn-secondary " value="Select">
                </div>
            </div>

        </div>
    </div>
</section>

<footer th:insert="fragments/footer.html :: footer"> </footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</body>
</html>