<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162832031-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-162832031-1');
    </script>
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '249773239548297');
        fbq('track', 'PageView');
    </script>
    <title>UHR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/icomoon.css">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN9PV57" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<style type="text/css">
    body {
        background-color: black;
    }
</style>

<nav th:insert="fragments/navbar.html :: nav"></nav>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 heading-sectio text-center">
                <p class="text">Instruction</p>
                <p class="p-about-desc" th:utext="#{p-about-test-desc}"></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">

    <div class="test_images im-0"></div>

    <div class="status alert alert-success" style="display: none"></div>
    <form onsubmit="return checkForm()" id="test-form" class="contact" name="contact-form" method="post" th:action="@{/result}"
          th:object="${test}">

        <p class="p-about-desc" th:utext="#{p-about-test-desc-before-first}"></p>

        <!--input 1-->
        <div class=" row row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr1" th:text="#{qr1}"></p></div>
            <div class="col">
                <div class="form-group-test">
                    <p class="choice">Question № 1</p>
                    <div class="range">
                        <input class="range__input i1" type="range" th:field="*{val1}" value="0" min="-2" max="2" step="1"
                               oninput="slider1('i1', 'ql1', 'qr1')"/>
                        <img src="/images/5 points.png" class="five-points"/>
                    </div>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql1" th:text="#{ql1}"></p></div>
        </div>
        <div class="test_images im-1"></div>

        <!--input 2-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col ">
                <p class="test-test test-right qr2" th:text="#{qr2}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 2</p>
                    <div class="range">
                        <input class="range__input i2" type="range" th:field="*{b}" value="0" min="-2" max="2" step="1"
                               oninput="slider1('i2', 'ql2', 'qr2')"/>
                        <img src="/images/5 points.png" class="five-points"/>
                    </div>
                </div>
            </div>
            <div class="col ">
                <p class="test-test test-left ql2" th:text="#{ql2}"> </p>
            </div>
        </div>
        <div class="test_images im-2"></div>

        <p class="p-about-desc" th:utext="#{p-about-test-desc-before-third}"></p>

        <!--input 3-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col ">
                <p class="test-test test-right qr3" th:text="#{qr3}">  </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 3</p>
                    <div class="range">
                        <input class="range__input i3" type="range" th:field="*{d}" value="0" min="-2" max="3" step="1"
                               oninput="slider2('i3', 'ql3', 'qr3')"
                        />
                        <img src="/images/6 points.png" class="six-points"/>
                    </div>
                </div>

            </div>
            <div class="col ">
                <p class="test-test test-left ql3" th:text="#{ql3}"> </p>
            </div>
        </div>
        <div class="test_images im-3"></div>

        <!--input 4-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col ">
                <p class="test-test test-right qr4" th:text="#{qr4}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 4</p>
                    <input type="range" class="range__input i4" id="Range4" th:field="*{e}" min="-2" max="3"
                           oninput="slider2('i4', 'ql4', 'qr4')"
                           step="1"/>
                    <img src="/images/6 points.png" class="six-points"/>
                </div>

            </div>
            <div class="col "><p class="test-test test-left ql4" th:text="#{ql4}"></p>
            </div>
        </div>
        <div class="test_images im-4"></div>

        <!--input 5-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr5" th:text="#{qr5}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 5</p>
                    <input type="range" class="range__input i5" id="Range5" th:field="*{f}" min="-2" max="2" step="1"
                           oninput="slider1('i5', 'ql5', 'qr5')">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>

            </div>
            <div class="col ">
                <p class="test-test test-left ql5" th:text="#{ql5}"></p>
            </div>
        </div>
        <div class="test_images im-5"></div>

        <!--input 6-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr6" th:text="#{qr6}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 6</p>
                    <input type="range" class="range__input i6" id="Range6" th:field="*{g}" min="-2" max="2" step="1"
                           oninput="slider1('i6', 'ql6', 'qr6')">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col ">
                <p class="test-test test-left ql6" th:text="#{ql6}"></p>
            </div>
        </div>
        <div class="test_images im-6"></div>

        <!--7-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr7" th:text="#{qr7}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 7</p>
                    <input type="range" class="range__input i7" id="Range7" th:field="*{h}" min="-2" max="3"
                           oninput="slider2('i7', 'ql7', 'qr7')"
                           step="1">
                    <img src="/images/6 points.png" class="six-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql7" th:text="#{ql7}"> </p>
            </div>
        </div>
        <div class="test_images im-7"></div>

        <!--8-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr8" th:text="#{qr8}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 8</p>
                    <input type="range" class="range__input i8" id="Range8" th:field="*{k}" min="-2" max="2"
                           oninput="slider1('i8', 'ql8', 'qr8')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql8" th:text="#{ql8}"></p>
            </div>
        </div>
        <div class="test_images im-8"></div>

        <!--9-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr9" th:text="#{qr9}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 9</p>
                    <input type="range" class="range__input i9" id="Range9" th:field="*{l}" min="-2" max="2"
                           oninput="slider1('i9', 'ql9', 'qr9')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql9" th:text="#{ql9}"></p>
            </div>
        </div>
        <div class="test_images im-9"></div>

        <!--10-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr10" th:text="#{qr10}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 10</p>
                    <input type="range" class="range__input i10" id="Range10" th:field="*{m}" min="-2" max="2"
                           oninput="slider1('i10', 'ql10', 'qr10')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql10" th:text="#{ql10}"></p>
            </div>
        </div>
        <div class="test_images im-10"></div>

        <!--11-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr11" th:text="#{qr11}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 11</p>
                    <input type="range" class="range__input i11" id="Range11" th:field="*{n}" min="-2" max="2"
                           oninput="slider1('i11', 'ql11', 'qr11')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql11" th:text="#{ql11}"></p>
            </div>
        </div>
        <div class="test_images im-11"></div>

        <!--12-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr12" th:text="#{qr12}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 12</p>
                    <input type="range" class="range__input i12" id="Range12" th:field="*{o}" min="-2" max="2"
                           oninput="slider1('i12', 'ql12', 'qr12')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql12" th:text="#{ql12}"></p>
            </div>
        </div>
        <div class="test_images im-12"></div>

        <!--13-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr13" th:text="#{qr13}"></p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 13</p>
                    <input type="range" class="range__input i13" id="Range13" th:field="*{p}" min="-2" max="3"
                           oninput="slider2('i13', 'ql13', 'qr13')"
                           step="1">
                    <img src="/images/6 points.png" class="six-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql13" th:text="#{ql13}"></p>
            </div>
        </div>
        <div class="test_images im-13"></div>

        <!--14-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr14" th:text="#{qr14}"></p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 14</p>
                    <input type="range" class="range__input i14" id="Range14" th:field="*{r}" min="-2" max="2"
                           oninput="slider1('i14', 'ql14', 'qr14')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql14" th:text="#{ql14}"></p>
            </div>
        </div>
        <div class="test_images im-14"></div>

        <!--15-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr15" th:text="#{qr15}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 15</p>
                    <input type="range" class="range__input i15" id="Range15" th:field="*{s}" min="-2" max="3"
                           oninput="slider2('i15', 'ql15', 'qr15')"
                           step="1">
                    <img src="/images/6 points.png" class="six-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql15" th:text="#{ql15}"></p>
            </div>
        </div>
        <div class="test_images im-15"></div>

        <!--16-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr16" th:text="#{qr16}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 16</p>
                    <input type="range" class="range__input i16" id="Range16" th:field="*{t}" min="-2" max="2"
                           oninput="slider1('i16', 'ql16', 'qr16')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql16" th:text="#{ql16}"></p>
            </div>
        </div>
        <div class="test_images im-16"></div>

        <!--17-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr17" th:text="#{qr17}">.</p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 17</p>
                    <input type="range" class="range__input i17" id="Range17" th:field="*{x}" min="-2" max="3"
                           oninput="slider2('i17', 'ql17', 'qr17')"
                           step="1">
                    <img src="/images/6 points.png" class="six-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql17" th:text="#{ql17}"> </p>
            </div>
        </div>
        <div class="test_images im-17"></div>

        <!--18-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr18" th:text="#{qr18}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 18</p>
                    <input type="range" class="range__input i18" id="Range18" th:field="*{y}" min="-2" max="2"
                           oninput="slider1('i18', 'ql18', 'qr18')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql18" th:text="#{ql18}"></p>
            </div>
        </div>
        <div class="test_images im-18"></div>

        <!--19-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr19" th:text="#{qr19}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 19</p>
                    <input type="range" class="range__input i19" id="Range19" th:field="*{z}" min="-2" max="2"
                           oninput="slider1('i19', 'ql19', 'qr19')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql19" th:text="#{ql19}"></p>
            </div>
        </div>
        <div class="test_images im-19"></div>

        <!--20-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr20" th:text="#{qr20}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 20</p>
                    <input type="range" class="range__input i20" id="Range20" th:field="*{q}" min="-2" max="2"
                           oninput="slider1('i20', 'ql20', 'qr20')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql20" th:text="#{ql20}"> </p>
            </div>
        </div>
        <div class="test_images im-20"></div>

        <!--21-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr21" th:text="#{qr21}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 21</p>
                    <input type="range" class="range__input i21" id="Range21" th:field="*{w}" min="-2" max="2"
                           oninput="slider1('i21', 'ql21', 'qr21')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql21" th:text="#{ql21}"></p>
            </div>
        </div>
        <div class="test_images im-21"></div>

        <!--22-->
        <div class="row    row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr22" th:text="#{qr22}"> </p></div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 22</p>
                    <input type="range" class="range__input i22" id="Range22" th:field="*{u}" min="-2" max="2"
                           oninput="slider1('i22', 'ql22', 'qr22')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql22" th:text="#{ql22}"></p>
            </div>
        </div>
        <div class="test_images im-22"></div>

        <!--23-->
        <div class="row  row-cols-1  row-cols-lg-3 cont">
            <div class="col "><p class="test-test test-right qr23" th:text="#{qr23}"> </p>
            </div>
            <div class="col ">
                <div class="form-group-test">
                    <p class="choice">Question № 23</p>
                    <input type="range" class="range__input i23" id="Range23" th:field="*{i}" min="-2" max="2"
                           oninput="slider1('i23', 'ql23', 'qr23')"
                           step="1">
                    <img src="/images/5 points.png" class="five-points"/>
                </div>
            </div>
            <div class="col "><p class="test-test test-left ql23" th:text="#{ql23}"> </p>
            </div>
        </div>
        <div class="test_images im-23"></div>

        <div class="row justify-content-center test-form">
            <div class=" test-form">
                <div class="d-md-flex">
                    <input type="number" min="16" max="90" required class="form-ctrl" placeholder="Your age"
                           th:field="*{age}" id="age">
                </div>
                <div class="d-md-flex">
                    <input type="text" minlength="3" maxlength="50" required class="form-ctrl" placeholder="Your name"
                           th:field="*{name}">
                </div>
                <div class="d-md-flex form-check-lbl">
                    <input type="checkbox" class="form-check-inp" id="test_check">

                    <button data-toggle="modal" data-target="#exampleModalScrollable" class="acceptance">
                        Accept the terms
                    </button>

                    <!-- Modal -->
                    <div th:insert="fragments/terms.html"></div>


                </div>
                <div class="submit">
                    <button type="submit" class="btn btn-primary btn-test" >Next</button>
                </div>
            </div>
        </div>
    </form>
    </div>


</section>

<footer th:insert="fragments/footer.html :: footer"></footer>

<div th:insert="fragments/subfooter.html"></div>

</body>
</html>